body {
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 24px 0;
  height: 56px;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-option {
  padding-right: 16px;
  padding-left: 16px;
  border-right: 1px solid black;
  font-family: 'Outfit';
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: black;
}

.language-select {
  padding-left: 16px;
  outline: none;
  border: none;
}

.search-container {
  display: flex;
  width: 376px;
  height: 40px;
  border: 1px solid #3a6150;
  border-radius: 2px 0px 0px 2px;
}

.wrapper {
  max-width: 1440px;
  padding: 0 64px 0 64px;
  margin: 0 auto;
}
.wrapper-grey {
  background-color: #f9f9f9;
}

.wrapper-green {
  background-color: #71837b;
  padding-top: 80px;
  padding-bottom: 120px;
}

.search-bar {
  padding-left: 16px;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.search-icon-container {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  background-color: #3a6150;
  cursor: pointer;
}

.home-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.home-screen-textContainer {
  width: 50%;
}

.home-screen-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #3a6150;
  margin: 0;
}

.home-screen-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3a6150;
}

.home-screen-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 80%;
}

.home-screen-button {
  margin-top: 36px;
  width: 196px;
  background-color: #3a6150;
  border: none;
  padding: 16px 0 16px 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  cursor: pointer;
}

.leaves-container {
  display: flex;
  width: 50%;
  padding-bottom: 60px;
}

.leaves-image {
  width: 100%;
  height: 'auto';
}

.about-us-container {
  display: flex;
  gap: 18px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us-item {
  padding: 24px 24px 35px 24px;
  display: flex;
  gap: 18px;
  background-color: #3a6150;
}

.about-us-text-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.about-us-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.about-us-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.color-white {
  color: white;
}

.about-us-image-container {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  background-color: white;
  padding: 0;
  border-radius: 12px;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 426px;
  height: 690px;
  padding: 42px 48px 42px 42px;
  background-color: white;
  background-image: url('/images/largeLeaf.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
}

.contact-us-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.contact-us-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-us-description {
  font-size: 14px;
  line-height: 21px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.contact-us-footer {
  display: flex;
  gap: 40px;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 48%;
}

.color-red {
  color: red;
}

.contact-us-link {
  text-decoration: none;
  color: black;
}

.contact-item-address {
  margin: 0;
}

input:focus {
  outline: 1px solid #3a6150;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form {
  width: 100%;
  padding-left: 20px;
  padding-top: 48px;
}

.input-form {
  height: 34px;
  padding-left: 14px;
}

#phone-numbers {
  border: none;
  border-right: 1px solid grey;
  padding-right: 6px;
}

.phone-number-input {
  border: 1px solid grey;
}

.input-form-number {
  border: none;
  height: 36px;
  padding-left: 6px;
  width: 80%;
}

.input-form-number:focus {
  outline: none;
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

input[type='radio'] {
  accent-color: #3a6150;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 16px;
  margin-top: 36px;
}

textarea:focus {
  outline: 1px solid #3a6150;
}

.checkbox-container {
  margin-top: 60px;
  display: flex;
  gap: 60px;
}

input[type='checkbox'] {
  accent-color: #3a6150;
}

.form-button {
  position: relative;
  left: 75%;
  top: 100px;
  width: 196px;
  background-color: #3a6150;
  border: none;
  padding: 16px 0 16px 0;
  color: white;
  border-radius: 2px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.subscribe-description {
  font-size: 18px;
  line-height: 145%;
}

.subscribe-input {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  width: 240px;
  margin-right: 20px;
}

.subscribe-button {
  width: 196px;
  background-color: #3a6150;
  border: none;
  padding: 16px 0 16px 0;
  color: white;
  border-radius: 2px;
}

.footer-container {
  display: flex;
  padding-bottom: 20px;
}

.footer-left {
  width: 70%;
}

.footer-link {
  text-decoration: none;
  color: black;
}

.footer-links-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.details a {
  text-decoration: none;
  color: grey;
}

.details-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policy-container {
  display: flex;
  justify-content: flex-end;
  height: 68px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.policy a {
  font-size: 14px;
  line-height: 145%;
  color: black;
  text-decoration: none;
}